h1 {
  color: aquamarine;
  font-size: 100px;
  text-align: center;
}

h2 {
  text-align: uppercase;
  text-transform: left;
}


h12 text-shadow 
h12 
{color: green;
  font-size: 200px;
  color: aquamarine;
  text-transform: uppercase;
  }