
#h1 {
  color: aquamarine; background-color:blue;
  font-size: 100px; text-aligne:_;
  text-align: center;
}
#h2 {
  color: blue; text-aligne:_;
  font-size: 100px;
  text-align: center;
}
  h1
{color: blue; background-color: white; text-aligne:_; 
  font-size: 100px;
  text-transform: uppercase;
  }

#t1
{color: black; background-color: yellow;
font-size:40px; text-align: center;

}
#t2
{color: black; background-color: yellow;
font-size:40px; text-align: center;

}