#titulo {
  text-shadow: 4px 4px brown;
  color: black;
}
#frase1 {
  color: black;
  background-color: yellow;
  text-transform: left;
}
#linea2 {
  color: green;
}
.hu {
  background-color: black;
  color: white;
}
#frase5y6 {
  text-transform: uppercase;
  color: blue;
  font-size: 50px;
  text-shadow: 5px 5px burlywood;
}
