#h1 {
  color: aquamarine;
  background-color: blue;
  font-size: 100px;
  text-aligne: _;
  text-align: center;
}
#t1 {
  color: blue;
  text-aligne: _;
  font-size: 100px;
  text-align: center;
}
h1 {
  color: blue;
  background-color: white;
  text-aligne: _;
  font-size: 100px;
  text-transform: uppercase;
}
